body{
    background-color: rgb(181, 182, 184);

}
.divPrincipalGerenciador{
    display: flex;
    justify-content: center;
}
.divGerenciador{
    width: 500px;
}
.gerenciadorDeTarefas{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
}